Battleship - Project

Quando o jogador atingir todas as embarcações acaba o jogo.
Matrix 10x10 (mínimo) podendo aumentar para qualquer dimensão MxM.
Mostrar número de tiros (tentativas) até finalizar o jogo.
Ao invés de de linha/coluna, mostrar como latitude/longitude. Sendo que, linha = latitude, coluna = longitude



    Um navio simples de cinco quadrados de comprimento (porta-aviões)
    Um navio simples de quatro quadrados de comprimento (navio de guerra)
    Dois navios de três quadrados de comprimento (o cruzador e o submarino)
    Um navio simples de dois quadrados de comprimento (o destruidor)


    Os navios podem ser colocados horizontalmente ou verticalmente, mas não na diagonal.
    Você deve colocar todos os cinco navios na matrix.
    Todo navio deve estar completamente na matrix. Nenhum navio pode estar com alguma parte do lado de fora.
    Os navios não podem ficar sobrepostos.
    Uma vez que os navios tiverem sido colocados e o jogo começar, você não pode mudar seus navios de lugar novamente.


    Decida quem vai jogar primeiro


    Se atingir um quadrado vazio, sem navios, o programa deve mostrar a mensagem "Água!"
    Se atingir um quadrado com um navio,o programa deve mostrar a mensagem "Fogo!" e também deve anunciar "qual" navio foi atingido (por exemplo, o porta-aviões).

    A matrix deve mostrar tudo O no início.
    Se um jogador erra um tiro, mostrar na matrix como um "~" o local que errou. 
    Se um jogador acertar um tiro, deve mostrar um "X" no local. 

    Se cada quadrado de um navio levar um tiro, o navio será afundado. O programa deve então informar dizendo "Afundou meu ___," indicando qual tipo de navio foi afundado. Além disso, o programa deve mostrar em cada posição a inicial do que derrubou, por exemplo, N de navio de guerra.


https://www.youtube.com/watch?v=1jsLgH8-CBA
https://www.youtube.com/watch?v=RWdHwfL-Vho
https://www.youtube.com/watch?v=x2c8iMAdyng

